body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.banner-wrapper {
    width: 305px;
    height: 305px;
    overflow: hidden;
}

.img{
    padding: 5px;
}

.slide-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;

    animation: banner1 10s cubic-bezier(0.92, 0.02, 0, 0.99) 0s infinite;
    normal: forwards;
}

@keyframes banner1 {
    0% {
        transform: translateX(-0);
    }

    25% {
        transform: translateX(-310px);
    }

    50% {
        transform: translateX(-620px);
    }

    75% {
        transform: translateX(-930px);
    }

    100% {
        transform: translateX(-1245px);
    }
}

@keyframes banner2 {
    0% {
        transform: translateX(-0);
    }

    20% {
        transform: translateX(-310px);
    }

    40% {
        transform: translateX(-620px);
    }

    60% {
        transform: translateX(-930px);
    }

    80% {
        transform: translateX(-1245px);
    }
    100% {
        transform: translateX(-1545px);
    }
}

.check{
    position: relative;
    top: 0;
    left: -200px;
}

.check:checked + .banner-wrapper > .slide-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;

    animation: banner2 10s cubic-bezier(0.92, 0.02, 0, 0.99) 0s infinite;
    normal: forwards;

}